@model ProyectoFinalCerveceria.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Detalle de Producto</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ProductId }, new { @class = "btn btn-info glyphicon glyphicon-pencil" }) |
    @Html.ActionLink(" Regresar", "Index", new { area = "" }, new { @class = "btn btn-success glyphicon glyphicon-fast-backward" })
</p>
