@model IEnumerable<ProyectoFinalCerveceria.Models.DocumentType>

@{
    ViewBag.Title = "Index";
}

<h2>Tipos de Documentos</h2>

<p>
    @Html.ActionLink("Nuevo", "Create", new { area = "" }, new { @class = "btn btn-primary glyphicon glyphicon-file" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink(" ", "Edit", new { id = item.DocumentTypeId }, new { @class = "btn btn-info glyphicon glyphicon-pencil" }) |
                @Html.ActionLink(" ", "Details", new { id = item.DocumentTypeId }, new { @class = "btn btn-success glyphicon glyphicon-list" }) |
                @Html.ActionLink(" ", "Delete", new { id = item.DocumentTypeId }, new { @class = "btn btn-danger glyphicon glyphicon-trash" })
            </td>
        </tr>
    }

</table>
