@model ProyectoFinalCerveceria.Models.Supplier

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar Proveedor</h2>

<h3>¿Está seguro de Eliminar este Proveedor?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyPhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyPhoneNumber)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Eliminar" class="btn btn-danger" /> |
    @Html.ActionLink(" Regresar", "Index", new { area = "" }, new { @class = "btn btn-success glyphicon glyphicon-fast-backward" })
</div>
    }
</div>
