@model ProyectoFinalCerveceria.Models.Supplier

@{
    ViewBag.Title = "Details";
}

<h2>Datos del Proveedor</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyPhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyPhoneNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SupplierId }, new { @class = "btn btn-info glyphicon glyphicon-pencil" }) |
    @Html.ActionLink(" Regresar", "Index", new { area = "" }, new { @class = "btn btn-success glyphicon glyphicon-fast-backward" })
</p>
